body{
    
    background-image: url(500.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    margin: 0;
    
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
    text-align: center;
}
li{
    float: left;
    font-size: 20px;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}
li a:hover{
    background-color: cornflowerblue;
    color: aqua;
}
h1{
    
    width: 100%;
    color: black;
    font-family: lato;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 20px grey;
    
}
h2{
    
    font-size: 25px;
    color: brown;
    text-align-last: center;
    margin-top: 80px;
    font-family: lato;
}
table{
    
    font-family: lato;
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    margin-top: 80px;
}
th{
    font-size: 20px;
    text-align: left;
    padding: 8px;
    background-color: burlywood;
}
td{
    font-size: 15px;
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd){
    background-color: burlywood;
}
tr:nth-child(even){
    background-color: cornflowerblue;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    color: black;
    text-align: center;
    
}

    